---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<Layout title="home">
	<main>
		<div class="flex">
			<div class="name">
				anurag <span class="text-[12px]">/ 616E757261627/</span>
			</div>
		</div>
		<div class="mt-[1.5rem] text-slate-400 tt">
			Hi there , I am an <span class="hover:text-white cursor-pointer">enginner</span>,
			always eager to learn and create unusual web apps and fun projects
			that push the boundaries of what's possible on the internet. Whether
			it's crafting interactive experiences, experimenting with
			cutting-edge technologies, or simply adding a touch of whimsy to the
			digital world, I thrive on the excitement of innovation and the joy
			of making things that people love to explore and use.
		</div>
		<div class="mt-[1.5rem] text-xl">
			If you also share the same vibes , lets connect ✨️
			<div class="mt-5 bt text-sm ">
				<div class="py-3 px-3 bg-white text-slate-600 absolute rounded-xl">
					<a href="">meet / cal.com</a>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		/* font-size: 20px; */
	/* } */
	.name {
		margin-top: 2.5rem;
		font-size: 25px;
	}
	span {
		font-weight: 900;
	}
	.tt{
		font-weight: 500;
	}
	.bt{
		font-weight: 800;

	}
</style>