<div class="my-[1rem]">
    <div class="float-left ">
        anurag sharma
    </div>

    <div class="float-right text-xl">
        <a class="px-2" href="mailto:anuragsharma011011@gmail.com"><i class="ti ti-mail"></i></a>
        <a class="px-2" href="https://x.com/theanuragdev"><i class="ti ti-brand-x"></i></a>
        <a  class="px-2" href="https://github.com/anuragts"><i class="ti ti-brand-github"></i></a>
        <a  class="px-2" href="https://linkedin.com/in/theanuragdev"><i class="ti ti-brand-linkedin"></i></a>

    </div>
</div>


<style>
    div{
        font-weight: 600;
    }
</style>