<div class="flex justify-end text-slate-400 mt-[1.5rem]">
    <div class="child">
        <a href="/">
            home.
        </a>
    </div>
    <div class="child">
        <a href="/crafts">
        crafts.
        </a>
    </div>
    <div class="child last-child">
        <a href="/blogs">
        blogs.
        </a>
    </div>
</div>

<style>
    
    .child{
        margin: 10px 10px;
    }
    .last-child{
        margin-right: 0;
    }
    .child :hover{
        color: #fff;
    }
</style>
